.calendar-container {
    padding: 20px;
  }
  
  .calendar-header {
    margin-bottom: 20px;
  }
  
  .calendar-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Set a fixed height for each date cell */
.fc-daygrid-day {
  height: 100px; /* Adjust the height as needed */
  max-height: 100px;
  position: relative;
  cursor: pointer;
}

/* Ensure that the event list inside the cell respects the height */
.fc-daygrid-event-harness {
  max-height: 80px; /* Adjust this value to allow space for events */
}

.fc-event {
  border: none;
}

/* Styling for blocked events */
.fc-event.blocked-event {
  background-color: #4577e4 !important;
  border: none !important; /* Remove border */
  color: white !important; /* Text color for better contrast */
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Styles for the grey background "Blocked" events */
.fc-event.blocked-event .fc-event-title {
  color: rgb(255, 253, 253); /* Make the text white for contrast */
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  /* margin-top: 10px; */
}

.fc-event.full-day {
  background-color: rgb(128, 128, 128); /* Grey for full-day blockouts */
}

/* .fc-event.am-blockout {
  background-color: rgb(255, 166, 0);
}

.fc-event.pm-blockout {
  background-color: rgb(48, 141, 48);
}  */
