.calendar-container {
    padding: 20px;
  }
  
  .calendar-header {
    margin-bottom: 20px;
  }
  
  .calendar-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .custom-calendar {
    margin: auto;
    /* flex: 1; */
    margin-left: 10px ;
    padding: 40px; 
  }

  .calendar-box{
    display: flex;
    margin-bottom: 10px;
    height: 400px;
    align-content: space-between;
  }

  /* Set a fixed height for each date cell */
.fc-daygrid-day {
  height: 100px; /* Adjust the height as needed */  
  max-height: 100px;
  position: relative;
}

/* Ensure that the event list inside the cell respects the height */
.fc-daygrid-event-harness {
  max-height: 80px; /* Adjust this value to allow space for events */
}

  /* Styles for the grey background "Blocked" events */
.fc-event.blocked-event .fc-event-title {
  color: rgb(255, 253, 253); /* Make the text white for contrast */
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.fc-event.blocked-event {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-header-toolbar {
  /*
  the calendar will be butting up against the edges,
  but let's scoot in the header's buttons
  */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: medium;
}

.fc-slats {
  tr:nth-child(n+8) {
      height: 68px;
  }
}