.calendar-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  
.calendar-header {
  margin-bottom: 20px;
}

.calendar-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.custom-calendar {
  margin: auto;
  margin-left: 10px ;
  padding: 40px; 
}

.calendar-box{
  display: flex;
  margin-bottom: 10px;
  flex: 1;
  overflow: hidden;
}

.calendar-box > div:first-child {
  flex: 0 0 200px; /* Set a fixed width for the filter section */
  padding-right: 10px; /* Add some space between the filter and the calendar */
}

.calendar-box > div:last-child {
  flex: 1; /* Let the calendar take up the remaining space */
}

  /* Set a fixed height for each date cell */
.fc-daygrid-day {
  height: 100px;   
  max-height: 100px;
  position: relative;
  cursor: pointer;
}

/* Ensure that the event list inside the cell respects the height */
.fc-daygrid-event-harness {
  max-height: 80px; /* Adjust this value to allow space for events */
}

.fc-event {
  border: none;
}

/* Styling for blocked events */
.fc-event.blocked-event {
  background-color: #4577e4 !important;
  border: none !important; /* Remove border */
  color: white !important; /* Text color for better contrast */
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Styles for the grey background "Blocked" events */
/* .fc-event.blocked-event .fc-event-title {
  color: rgb(255, 253, 253); /* Make the text white for contrast 
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.fc-event.blocked-event {
  display: flex;
  justify-content: center;
  align-items: center;
}*/
