# Flask and extensions
Flask
flask-sqlalchemy
flask-cors
flasgger

# Database
SQLAlchemy
mysql-connector-python

# Testing
pytest
pytest-mock
pytest-cov

# Email and scheduling
sib-api-v3-sdk
APScheduler

# Environment and utils
python-dotenv
requests

# Messaging
pika